fastapi==0.115.0
uvicorn[standard]==0.30.6
spacy==3.7.5
networkx==3.3
python-dotenv==1.2.2
groq==1.7.0
pydantic==2.9.2
numpy==1.26.4
scipy==1.11.4
psycopg[binary]==3.2.3
neo4j==5.25.0
qdrant-client==1.11.3
rapidfuzz==3.10.1
sentence-transformers==3.2.1
python-multipart==0.0.32
python-dateutil==2.9.0.post0
pypdf==6.16.2
python-docx==1.2.0
markitdown[all]==0.1.7
